<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channel_id</key>
		<integer>104001</integer>
		<key>name</key>
		<string>有待</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10460</string>
				<key>name</key>
				<string>有待唱片店推荐 3</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10425</string>
				<key>name</key>
				<string>youdairecords.taobao</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10366</string>
				<key>name</key>
				<string>Revoution 100</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10309</string>
				<key>name</key>
				<string>有待唱片店推荐</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10282</string>
				<key>name</key>
				<string>Happy Monday</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10231</string>
				<key>name</key>
				<string>AreYouGonnaGoMyWay</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10087</string>
				<key>name</key>
				<string>Fascination</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10184</string>
				<key>name</key>
				<string>Black Coffee</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10181</string>
				<key>name</key>
				<string>DJ</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10152</string>
				<key>name</key>
				<string>Drifting Away</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>113044</integer>
		<key>name</key>
		<string>浅谈轻唱</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10429</string>
				<key>name</key>
				<string>vol.23 給所有單身女子</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10410</string>
				<key>name</key>
				<string>再一次旅行 黃建為專訪</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10373</string>
				<key>name</key>
				<string>vol.21 人生若只如初見</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10357</string>
				<key>name</key>
				<string>活著是爲了改變世界ForS</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10330</string>
				<key>name</key>
				<string>vol.19 十年 安妮寶貝</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10299</string>
				<key>name</key>
				<string>秋天該很好你若尚在場</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10281</string>
				<key>name</key>
				<string>vol.17小清新的海澎湃心</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10235</string>
				<key>name</key>
				<string>vol.14 天下大同萬物生</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10222</string>
				<key>name</key>
				<string>vol.13 7cm距離面對絕望</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10199</string>
				<key>name</key>
				<string>vol.12 陷入無愛的恐慌</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>116154</integer>
		<key>name</key>
		<string>子寒Ann</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10433</string>
				<key>name</key>
				<string>台湾火车旅行</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10432</string>
				<key>name</key>
				<string>布达佩斯</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10401</string>
				<key>name</key>
				<string>桂花酿</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10374</string>
				<key>name</key>
				<string>莲生与阿玉</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10372</string>
				<key>name</key>
				<string>游园惊梦</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10337</string>
				<key>name</key>
				<string>孤独六讲</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10303</string>
				<key>name</key>
				<string>莫非定律</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10269</string>
				<key>name</key>
				<string>富春山居图</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10262</string>
				<key>name</key>
				<string>滚石30年</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10261</string>
				<key>name</key>
				<string>周云蓬《春天责备》</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>103547</integer>
		<key>name</key>
		<string>阿鹏</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10348</string>
				<key>name</key>
				<string>MUSIC of 桒惪NO.42-</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10347</string>
				<key>name</key>
				<string>MUSIC of 桒惪NO.35-41</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10346</string>
				<key>name</key>
				<string>MUSIC of 桒惪NO.26-32</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10345</string>
				<key>name</key>
				<string>MUSIC of 桒惪NO.21-25</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10344</string>
				<key>name</key>
				<string>MUSIC of 桒惪NO.18-20</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10219</string>
				<key>name</key>
				<string>来自天使之国的声音碎片</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10218</string>
				<key>name</key>
				<string>写给自己的一封信</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10220</string>
				<key>name</key>
				<string>生命中的麦迪逊之桥</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10217</string>
				<key>name</key>
				<string>春风沉醉的夜晚</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10216</string>
				<key>name</key>
				<string>在没有黑暗的地方相见</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>110186</integer>
		<key>name</key>
		<string>公告牌之外</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10416</string>
				<key>name</key>
				<string>公告牌之外 第七期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10417</string>
				<key>name</key>
				<string>公告牌之外 第八期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10273</string>
				<key>name</key>
				<string>公告牌之外 第六期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10272</string>
				<key>name</key>
				<string>公告牌之外 第五期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10271</string>
				<key>name</key>
				<string>公告牌之外 第四期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10241</string>
				<key>name</key>
				<string>公告牌之外 第三期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10240</string>
				<key>name</key>
				<string>公告牌之外 第二期</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10238</string>
				<key>name</key>
				<string>公告牌之外 第一期</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>121379</integer>
		<key>name</key>
		<string>电音中国</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10445</string>
				<key>name</key>
				<string>电音中国电台HOST DJ 3</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10329</string>
				<key>name</key>
				<string>电音中国电台HOST DJ 2</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10291</string>
				<key>name</key>
				<string>电音中国电台HOST DJ</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>104524</integer>
		<key>name</key>
		<string>FM O.U.R</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10461</string>
				<key>name</key>
				<string>音乐最想念·忆经典·11</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10451</string>
				<key>name</key>
				<string>乐光倾城·心情音乐·09</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10356</string>
				<key>name</key>
				<string>音乐最想念·忆经典·10</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10310</string>
				<key>name</key>
				<string>十分音乐·魅力推荐·08</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10302</string>
				<key>name</key>
				<string>十分音乐·魅力推荐·07</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10301</string>
				<key>name</key>
				<string>乐光倾城·心情音乐·08</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10293</string>
				<key>name</key>
				<string>音乐万岁·新歌上榜·08</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10289</string>
				<key>name</key>
				<string>音乐最想念·忆经典·09</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10259</string>
				<key>name</key>
				<string>音乐万岁·新歌上榜·07</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10260</string>
				<key>name</key>
				<string>音乐最想念·忆经典·08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>106379</integer>
		<key>name</key>
		<string>萌得耳松</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10136</string>
				<key>name</key>
				<string>李斯特200周年祭(上篇)</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10160</string>
				<key>name</key>
				<string>又漂亮又会拉琴的姑娘们</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10382</string>
				<key>name</key>
				<string>古典音乐中的大海</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10335</string>
				<key>name</key>
				<string>Einst O Wunder!  </string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10112</string>
				<key>name</key>
				<string>俄罗斯乡愁</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10306</string>
				<key>name</key>
				<string>萨瓦尔与维奥尔之魅</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10304</string>
				<key>name</key>
				<string>情迷大提 - 南美之夜</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10242</string>
				<key>name</key>
				<string>长号——绅士亦武士</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10193</string>
				<key>name</key>
				<string>门德尔松正太时</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>116351</integer>
		<key>name</key>
		<string>Rêveur Ailé</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10340</string>
				<key>name</key>
				<string>Alchimie du verbe</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>123048</integer>
		<key>name</key>
		<string>宅电波</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10375</string>
				<key>name</key>
				<string>我们都曾高喊SHORYUKEN!</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10378</string>
				<key>name</key>
				<string>重返寂静岭</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10292</string>
				<key>name</key>
				<string>我们也曾被称为'次世代'</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10274</string>
				<key>name</key>
				<string>Gundam U.C</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>112177</integer>
		<key>name</key>
		<string>掌柜阿峻</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10454</string>
				<key>name</key>
				<string>103客栈 | 徐小凤</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10338</string>
				<key>name</key>
				<string>103客栈 | 黄耀明</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10419</string>
				<key>name</key>
				<string>103客栈 | 卢凯彤</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10223</string>
				<key>name</key>
				<string>Radio Gaga #016</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10343</string>
				<key>name</key>
				<string>103客栈 | 滚石30</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10307</string>
				<key>name</key>
				<string>103客栈 | 方大同</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10171</string>
				<key>name</key>
				<string>103客栈 | 罗大佑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10185</string>
				<key>name</key>
				<string>103客栈 | 张震岳</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10246</string>
				<key>name</key>
				<string>Radio Gaga #017</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10191</string>
				<key>name</key>
				<string>Radio Gaga #015</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>103756</integer>
		<key>name</key>
		<string>周准</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10106</string>
				<key>name</key>
				<string>片花-无处安放的青春</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10104</string>
				<key>name</key>
				<string>片花-24，26，28，30岁</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10103</string>
				<key>name</key>
				<string>片花-我们在路上</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10102</string>
				<key>name</key>
				<string>片花-人生至少该有一次</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10101</string>
				<key>name</key>
				<string>片花-长大</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>117447</integer>
		<key>name</key>
		<string>SICK RADIO</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10351</string>
				<key>name</key>
				<string>演</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10328</string>
				<key>name</key>
				<string>sick</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>111880</integer>
		<key>name</key>
		<string>三角龙</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10312</string>
				<key>name</key>
				<string>听那些歌儿，我们曾哭过</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10298</string>
				<key>name</key>
				<string>我有瘾</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10297</string>
				<key>name</key>
				<string>你压，力大么？</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10294</string>
				<key>name</key>
				<string>外星人，带我走吧</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>113914</integer>
		<key>name</key>
		<string>苏比</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10435</string>
				<key>name</key>
				<string>就算没有翅膀</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10379</string>
				<key>name</key>
				<string>做一场给世界看的戏</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10339</string>
				<key>name</key>
				<string>我怕你孤单</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10349</string>
				<key>name</key>
				<string>突然十年便过去 文字版</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10331</string>
				<key>name</key>
				<string>在生活之外</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10332</string>
				<key>name</key>
				<string>如果还能无锡</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10326</string>
				<key>name</key>
				<string>我们直接到五十岁吧</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>114014</integer>
		<key>name</key>
		<string>Suburbs</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10455</string>
				<key>name</key>
				<string>13:Thk U For The Music</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10421</string>
				<key>name</key>
				<string>12: Optimist Declines</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10295</string>
				<key>name</key>
				<string>11: We'veOnlyJustBegun</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10221</string>
				<key>name</key>
				<string>10: Over the Train</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10188</string>
				<key>name</key>
				<string>09: Monkeys Uptown</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10155</string>
				<key>name</key>
				<string>08: Bigtime</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10149</string>
				<key>name</key>
				<string>07: Sonic FM</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10094</string>
				<key>name</key>
				<string>06: Night of Armies</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10074</string>
				<key>name</key>
				<string>05: Old Folks Let's go</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10073</string>
				<key>name</key>
				<string>04: Sound of Chicago</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>118962</integer>
		<key>name</key>
		<string>CT-808</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10111</string>
				<key>name</key>
				<string>Free! Jazz is Free!</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10091</string>
				<key>name</key>
				<string>后朋克的异化</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10093</string>
				<key>name</key>
				<string>2011混音带 第一辑</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>118974</integer>
		<key>name</key>
		<string>iPlay</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10443</string>
				<key>name</key>
				<string>非誠勿擾</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10424</string>
				<key>name</key>
				<string>聽不懂那就嘶吼</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10415</string>
				<key>name</key>
				<string>天涼好個柚</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10365</string>
				<key>name</key>
				<string>不要啊！</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10311</string>
				<key>name</key>
				<string>結婚呢最緊要就是快樂</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10296</string>
				<key>name</key>
				<string>你最熟悉</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10203</string>
				<key>name</key>
				<string>用動畫完整暑假</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10092</string>
				<key>name</key>
				<string>紅白機·大時代</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10090</string>
				<key>name</key>
				<string>無印良品音樂節</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10265</string>
				<key>name</key>
				<string>UNIQLO × ELECTRONIC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>119300</integer>
		<key>name</key>
		<string>黑噪音</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10423</string>
				<key>name</key>
				<string>爵士金属前卫对决</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10205</string>
				<key>name</key>
				<string>哥德堡寒地之回响</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10206</string>
				<key>name</key>
				<string>葬式血腥之绞肉机</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10414</string>
				<key>name</key>
				<string>凯尔特之异教弥撒</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10408</string>
				<key>name</key>
				<string>霜之哀伤厄运音墙</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10358</string>
				<key>name</key>
				<string>圣殿骑士交响史诗</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10266</string>
				<key>name</key>
				<string>维京战船扬帆启航</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10334</string>
				<key>name</key>
				<string>暗夜妖娆金属女声</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10186</string>
				<key>name</key>
				<string>虚无飘渺黑色音墙</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10131</string>
				<key>name</key>
				<string>踏着金属节拍起舞</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>119466</integer>
		<key>name</key>
		<string>Sorry! FM</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10198</string>
				<key>name</key>
				<string>东京热</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10173</string>
				<key>name</key>
				<string>All About Nothing</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10174</string>
				<key>name</key>
				<string>紅白機·小時代</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10100</string>
				<key>name</key>
				<string>迷幻列车</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10059</string>
				<key>name</key>
				<string>夏夜，摸黑冲浪</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10061</string>
				<key>name</key>
				<string>不列颠之音 Vol.1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>121068</integer>
		<key>name</key>
		<string>枣听乐纪</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10377</string>
				<key>name</key>
				<string>Vol.01 - 06 节目合辑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10354</string>
				<key>name</key>
				<string>08/09年 乐记回顾</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10355</string>
				<key>name</key>
				<string>滚石30：那些青春和爱</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10353</string>
				<key>name</key>
				<string>青岛南京厦门广州杭州</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>105062</integer>
		<key>name</key>
		<string>ACHA</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10459</string>
				<key>name</key>
				<string>Just Listen!!</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10370</string>
				<key>name</key>
				<string>如果上帝是个DJ</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10360</string>
				<key>name</key>
				<string>只为狂欢而诞生的crunk</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10361</string>
				<key>name</key>
				<string>77'13分钟的爵士说唱</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>106166</integer>
		<key>name</key>
		<string>离岸音乐电台</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10444</string>
				<key>name</key>
				<string>11.11</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10413</string>
				<key>name</key>
				<string>HK&amp;amp;Taiwan </string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10411</string>
				<key>name</key>
				<string>sodagreen</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10388</string>
				<key>name</key>
				<string>离岸电台-王家卫特辑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10390</string>
				<key>name</key>
				<string>离岸-北欧特辑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10389</string>
				<key>name</key>
				<string>单曲循环</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10391</string>
				<key>name</key>
				<string>离岸岛屿</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10392</string>
				<key>name</key>
				<string>离岸-生命狂想曲</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10394</string>
				<key>name</key>
				<string>离岸-童话</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10387</string>
				<key>name</key>
				<string>所有的光芒都向我涌来</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>113380</integer>
		<key>name</key>
		<string>搁料广播</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10403</string>
				<key>name</key>
				<string>搁料广播特辑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10397</string>
				<key>name</key>
				<string>搁料电影原声赏析</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10395</string>
				<key>name</key>
				<string>搁料瞎倒歇</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>115987</integer>
		<key>name</key>
		<string>爵士之音</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10447</string>
				<key>name</key>
				<string> Guitar &amp;amp; Loungey </string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10438</string>
				<key>name</key>
				<string>自然琴韵Kenio Fuke</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10418</string>
				<key>name</key>
				<string>SpyroGyra</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10412</string>
				<key>name</key>
				<string>上帝之音第八章</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10407</string>
				<key>name</key>
				<string>Jazz You Night &amp;amp; Day </string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10399</string>
				<key>name</key>
				<string>爵士知音Vol.2</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10398</string>
				<key>name</key>
				<string>爵士之音Vol.1</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10400</string>
				<key>name</key>
				<string>绝世之音-古典爵士vol.3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>116241</integer>
		<key>name</key>
		<string>坏蛋调频</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10457</string>
				<key>name</key>
				<string>拉丁帅哥舌头最灵活</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10449</string>
				<key>name</key>
				<string>左小祖咒的创作之谜</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10448</string>
				<key>name</key>
				<string>王迪专访（上）</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10420</string>
				<key>name</key>
				<string>拉丁喊麦初体验</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10402</string>
				<key>name</key>
				<string>卡车司机变猫王</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10380</string>
				<key>name</key>
				<string>经典难逃之1955</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>118673</integer>
		<key>name</key>
		<string>IndiePower</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10450</string>
				<key>name</key>
				<string>新派金属鼻祖-夜叉乐队</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10431</string>
				<key>name</key>
				<string>谢天笑</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10422</string>
				<key>name</key>
				<string>布衣乐队</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10405</string>
				<key>name</key>
				<string>小熊饼干乐队</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10404</string>
				<key>name</key>
				<string>上海山海Livehouse</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10367</string>
				<key>name</key>
				<string>大悲乐队_最强音！</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10368</string>
				<key>name</key>
				<string>声音碎片_拾碎</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10369</string>
				<key>name</key>
				<string>十四行诗_14 以及更多</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10363</string>
				<key>name</key>
				<string>Your Favorite Enemies</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>120705</integer>
		<key>name</key>
		<string>糖蒜广播</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10406</string>
				<key>name</key>
				<string>糖蒜广播之糖蒜爱派对</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10376</string>
				<key>name</key>
				<string>糖蒜广播之爱周末</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10385</string>
				<key>name</key>
				<string>糖蒜广播之糖蒜123</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10384</string>
				<key>name</key>
				<string>糖蒜广播之优斯迪吧</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10381</string>
				<key>name</key>
				<string>糖蒜广播之糖蒜脱口秀</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10383</string>
				<key>name</key>
				<string>糖蒜广播之音乐学校</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>121069</integer>
		<key>name</key>
		<string>666</string>
		<key>sub</key>
		<array>
			<dict>
				<key>channel_id</key>
				<string>10458</string>
				<key>name</key>
				<string>流麦第五波</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10456</string>
				<key>name</key>
				<string>流麦第四波</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10441</string>
				<key>name</key>
				<string>流麦第三波</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10440</string>
				<key>name</key>
				<string>流麦第二波</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<string>10434</string>
				<key>name</key>
				<string>流麦第一波</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
