<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channel_id</key>
		<string>104001</string>
		<key>name</key>
		<string>有待</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>113044</string>
		<key>name</key>
		<string>浅谈轻唱</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>116154</string>
		<key>name</key>
		<string>子寒Ann</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>103547</string>
		<key>name</key>
		<string>阿鹏</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>110186</string>
		<key>name</key>
		<string>公告牌之外</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>121379</string>
		<key>name</key>
		<string>电音中国</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>104524</string>
		<key>name</key>
		<string>FM O.U.R</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>106379</string>
		<key>name</key>
		<string>萌得耳松</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>116351</string>
		<key>name</key>
		<string>Rêveur Ailé</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>123048</string>
		<key>name</key>
		<string>宅电波</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>112177</string>
		<key>name</key>
		<string>掌柜阿峻</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>103756</string>
		<key>name</key>
		<string>周准</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>117447</string>
		<key>name</key>
		<string>SICK RADIO</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>111880</string>
		<key>name</key>
		<string>三角龙</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>113914</string>
		<key>name</key>
		<string>苏比</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>114014</string>
		<key>name</key>
		<string>Suburbs</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>118962</string>
		<key>name</key>
		<string>CT-808</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>118974</string>
		<key>name</key>
		<string>iPlay</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>119300</string>
		<key>name</key>
		<string>黑噪音</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>119466</string>
		<key>name</key>
		<string>Sorry! FM</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>121068</string>
		<key>name</key>
		<string>枣听乐纪</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>105062</string>
		<key>name</key>
		<string>ACHA</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>106166</string>
		<key>name</key>
		<string>离岸音乐电台</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>113380</string>
		<key>name</key>
		<string>搁料广播</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>115987</string>
		<key>name</key>
		<string>爵士之音</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>116241</string>
		<key>name</key>
		<string>坏蛋调频</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>118673</string>
		<key>name</key>
		<string>IndiePower</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>120705</string>
		<key>name</key>
		<string>糖蒜广播</string>
	</dict>
	<dict>
		<key>channel_id</key>
		<string>121069</string>
		<key>name</key>
		<string>666</string>
	</dict>
</array>
</plist>

