<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cate</key>
		<string>地区&amp;语言</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>1</integer>
				<key>name</key>
				<string>华语</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>2</integer>
				<key>name</key>
				<string>欧美</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>6</integer>
				<key>name</key>
				<string>粤语</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>22</integer>
				<key>name</key>
				<string>法语</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>17</integer>
				<key>name</key>
				<string>日语</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>18</integer>
				<key>name</key>
				<string>韩语</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate</key>
		<string>流派</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>8</integer>
				<key>name</key>
				<string>民谣</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>7</integer>
				<key>name</key>
				<string>摇滚</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>13</integer>
				<key>name</key>
				<string>爵士</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>27</integer>
				<key>name</key>
				<string>古典</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>9</integer>
				<key>name</key>
				<string>轻音乐</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>14</integer>
				<key>name</key>
				<string>电子</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>16</integer>
				<key>name</key>
				<string>R&amp;B</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>15</integer>
				<key>name</key>
				<string>说唱</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>10</integer>
				<key>name</key>
				<string>电影原声</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate</key>
		<string>年代</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>3</integer>
				<key>name</key>
				<string>七零</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>4</integer>
				<key>name</key>
				<string>八零</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>5</integer>
				<key>name</key>
				<string>九零</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate</key>
		<string>豆瓣音乐人</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>26</integer>
				<key>name</key>
				<string>豆瓣音乐人</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate</key>
		<string>特辑</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>20</integer>
				<key>name</key>
				<string>女声</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>28</integer>
				<key>name</key>
				<string>动漫</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>32</integer>
				<key>name</key>
				<string>NESCAFE 咖啡</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate</key>
		<string>品牌</string>
		<key>channels</key>
		<array>
			<dict>
				<key>channel_id</key>
				<integer>52</integer>
				<key>name</key>
				<string>乐混翻唱</string>
			</dict>
			<dict>
				<key>channel_id</key>
				<integer>54</integer>
				<key>name</key>
				<string>格调卡萨帝</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
