*{cursor:default}
#mainframe{
    width:620px;
    height:300px;
    font-size:14px;
    color:#999;
    overflow:hidden;
    font-family:sans-serif;
}
div{margin:0;}
#mainframe>div{float:left;overflow:hidden}
#playqueue{
    width:150px;
    margin-left:5px;
    position:relative;
}
.current img{
    width:150px;
    height:150px;
}
.next{background:url(next_w.png) no-repeat left top #e0e5e2;height:50px;width:70px}
#current_album img,.next img{
    width:50px;
    height:50px;
}
#top_channels_wp{
    background:#e0e5e2;
}
#channels a{
    background-color:#ced6d3;
    color:#666;
    text-decoration:none;
    display:block;
    width:100px;
    height:14px;
    padding:5px 10px;
    margin: 5px;
}
#channel_bar{background:url(radio.gif) no-repeat 135px center }
#channel_bar,#headbar{background-color:#e0e5e2;padding:5px;font-size:12px;margin:5px 0}
#playcontroller{
    margin-left:5px;
    width:450px;
}
#detail{height:150px;width:100%}
.timeline_wp{padding-top:30px}
.timeline{background:#e0e5e2;height:3px;}
.timeline div{background:#9dd6c5;width:50%;height:100%}
.eta{padding:5px 0;text-align:right;}
h2{margin:5px 0;color:#096;}
p{padding:5px 0;margin:0}
h1{color:#666;padding:20px 0 0 0;margin:0}
.controllers{text-align:right;padding:20px 0}
.rate{float:right;font-size:40px;margin:10px 0;padding:50px 0 0 0;background:#9dd6c5;overflow:hidden;text-align:center;width:50px}
