body{
    font-family:sans-serif;
    color:#bbb;
    font-size:16px;
    cursor:default;
}
t::#quickbox{
    height:100px;
    width:600px;
}
#quickbox>div{
    float:left;
}
#album{
    width:160px;
    height:100px;
}
#right{
    width:420px;
    height:100px;
    padding:0 10px;
}
.detail{
    font-size:24px;
    height:70px;
}
span.artist,.music_title{color:#10a271;}
.timeline{
    margin:5px 0;
    background-color:#eee;
    width:100%;
}
.timeline div{
    height:3px;
    background-color:#9dd6c5;
}
.time{
    height:20px;
    padding:10px 0;
}
.time div{
    float:left;
    font-size:16px;
}
.time .eta{
    float:right;
}
.control{
    text-align:right;
}
.current{
    width:100px;
    height:100px;
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
}
.next{
    width:50px;
    height:50px;
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
}
.next:hover,.current:hover
{
    cursor:pointer;
    -webkit-box-shadow:0 0 5px #333;
}

.control input{
    background-color:transparent;
    border:none;
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    cursor:pointer;
}
.play{
    background-image:url(images/pause.png);
}
.like{
    background-image:url(images/like.png);
}
.liking{
    background-image:url(images/liking.png);
}
.bye{
    background-image:url(images/bye.png);
}
.next_button{
    background-image:url(images/next.png);
}
.play:hover,.next_button:hover,.bye:hover
{
    -webkit-border-radius:16px;
    -webkit-box-shadow: 0 0 5px #333;
}
