body{
    font-family:sans-serif;
    color:#bbb;
    font-size:16px;
    overflow:hidden;
    margin:0;
    padding:0;
    cursor:default;
}
body.quickbox{
    width:600px;
    height:100px;
}
img{
    opacity:0;
    -webkit-transition:opacity 0.4s ease-out,
        width 0.4s ease-out,
        height 0.4s ease-out,
        margin-left 0.4s ease-out,
        margin-bottom 0.4 ease-out;
}
img.show{
    opacity:1;
    margin-left:0;
    margin-top:0;
}
img.show:hover
{
   opacity:0.8; 
}
#quickbox{
    height:100px;
    width:600px;
    overflow:hidden;
}
#quickbox>div{
    float:left;
}
#quickbox .album{
    width:160px;
    height:100px;
}
#right{
    width:420px;
    height:100px;
    padding:0 10px;
}
.detail{
    font-size:20px;
    height:50px;
    padding:5px 0;
}
span.artist,.music_title{color:#10a271;}
.timeline{
    margin:5px 0;
    background-color:#eee;
    width:100%;
}
.timeline div{
    height:3px;
    background-color:#9dd6c5;
}
.time{
    padding:5px 0;
    height:20px;
}
.time div{
    float:left;
    font-size:16px;
}
.time .eta{
    float:right;
}
.control{
    text-align:right;
}
.current{
    width:100px;
    height:100px;
}
.next{
    width:50px;
    height:50px;
    margin-bottom:-50px;
    cursor:pointer;

}

.control input{
    background-color:transparent;
    border:none;
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    cursor:pointer;
}
.play{
    background-image:url(images/pause.png);
}
.like{
    background-image:url(images/like.png);
}
.liking{
    background-image:url(images/liking.png);
}
.bye{
    background-image:url(images/bye.png);
}
.next_button{
    background-image:url(images/next.png);
}
.play:hover,.next_button:hover,.bye:hover
{
    -webkit-border-radius:16px;
    -webkit-box-shadow: 0 0 5px #333;
}



/*
 *
 * 动画
 *
 * */

.current.hidden{
    margin-left:-100px;
}
.eta,.detail,.artist{
    -webkit-transition:opacity 0.4s ease-out;
}
